node_modules/
resources/public/js
resources/public/js/compiled

/target
/checkouts
/src/gen
/functions/index.js
/functions/compiled
/functions/index.js.map

/src/notecatcher/client/hooks.cljs

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
