;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[rum "0.12.8"]
  [clj-commons/citrus "3.3.0"]
  [cljs-bean "1.7.0"]
  [funcool/promesa "6.0.2"]]

 ;; TODO: couldn't get serverside rendering to work properly so use dev-http for now
 :dev-http {8000 "resources/public"}

 :builds
 {:client
  {:target     :browser
   :modules    {:client {:entries [notecatcher.client.app]}}
   :asset-path "/js/compiled"
   :output-dir "resources/public/js/compiled"
   :js-options {:js-package-dirs ["node_modules",
                                  "node_modules/firebase/node_modules"]}
   :devtools {:watch-dir "resources/public"}
   :compiler-options {:infer-externs :auto
                      :optimizations :simple
                      :source-map true
                      :source-map-timestamp true
                      :reader-features #{:browser}}}

  :functions
  {:target :node-library
   :output-to "functions/index.js"
   :exports-var notecatcher.server.functions/exports
   :output-dir "functions/compiled"
   :compiler-options {:optimizations :simple
                      :static-fns true
                      :source-map "functions/index.js.map"
                      :reader-features #{:node}
                      :fn-invoke-direct true}}}}
