;; shadow-cljs configuration
{:source-paths
 ["src/"]

 :dependencies
 [[rum "0.12.8"]]

 :dev-http {8080 "public"}

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:entries [notecatcher.frontend.app]}}}
  :functions
  {:target :node-library
   :output-to "functions/index.js"
   :exports-var notecatcher.server.functions/exports}}}
